body {
  background: radial-gradient(
        farthest-side at -33.33% 50%,
        #0000 52%,
        #7678ba 54% 57%,
        #0000 59%
      )
      0 calc(30px / 2),
    radial-gradient(
        farthest-side at 50% 133.33%,
        #0000 52%,
        #7678ba 54% 57%,
        #0000 59%
      )
      calc(300px / 2),
    radial-gradient(
      farthest-side at 133.33% 50%,
      #0000 52%,
      #7678ba 54% 57%,
      #0000 59%
    ),
    radial-gradient(
      farthest-side at 50% -33.33%,
      #0000 52%,
      #7678ba 54% 57%,
      #0000 59%
    ),
    #a65085;
  background-size: calc(300px / 4.667) 300px, 300px calc(300px / 4.667);
  margin: 60px auto;
  font-family: monospace;
}

h1 {
  font-family: Warnes;
  text-align: center;
  font-size: 80px;
  letter-spacing: 40px;
  line-height: 1.5;
  color: #21213e;
  opacity: 0.8;
  margin: 0;
}

.cmd {
  color: #70365a;
  text-shadow: 3px 2px #21213e;
  font-family: Warnes;
  margin: 10px;
  letter-spacing: 4px;
}
.container {
  margin: 20px auto;
  max-width: 480px;
  /*border: 4px solid darkslateblue;
  border-radius: 22px;*/
  border-left: 4px solid darkslateblue;
  border-top: 4px solid darkslateblue;
  background: #7678ba;
  padding: 30px 15px;
  box-shadow: 6px 8px #0d0e36;
}
form {
  display: flex;
  justify-content: center;
}
.prompt-field {
  color: rgb(49, 42, 95);
  font-size: 16px;
  border-radius: 14px;
  padding: 10px;
  font-family: monospace;
  width: 50%;
  background-color: thistle;
  border: 3px solid darkslateblue;
}
.prompt-field:focus {
  outline: none;
  border: dashed darkslateblue;
  border-width: 3px 5px;
}
.submit-btn {
  font-family: monospace;
  letter-spacing: 6px;
  font-size: 16px;
  padding: 0px 20px;
  margin-left: 10px;
  border: 3px solid darkslateblue;
  background-color: rgb(185, 253, 117);
  color: darkslateblue;
}
.submit-btn:hover {
  background-color: beige;
  cursor: pointer;
}
small {
  margin-left: 45px;
  font-size: 12px;
  line-height: 2;
  color: #70365a;
  opacity: 900;
}
.poem-box {
  border-left: 4px solid darkslateblue;
  display: block;
  margin: 0 auto;
  width: 80%;
  color: rgba(33, 33, 62, 0.8);
  background-color: aliceblue;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 4px 6px;
  padding: 10px;
}
.poem-box strong {
  color: #70365a;
}
.hidden {
  display: none;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
a {
  color: rgb(185, 253, 117);
  opacity: 0.8;
}
footer {
  font-size: 14px;
  letter-spacing: 3px;
  text-align: center;
  color: #21213e;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    letter-spacing: 8px;
    font-size: 50px;
  }
  .submit-btn {
    width: 30%;
    padding: 6px;
  }
  .container {
    width: 80%;
  }
}
